body {
  font-family: 'Montserrat';
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: bolder;
}

h2 {

  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
  color: black;
}

h3 {

  color: #000000;
}

p {
  color: #8f8f8f;
}

/* Headers */

.big-heading{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading{
  font-size: 3rem;
    line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Title section */





/* Navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-size: 2.5rem;
  font-family: 'Ubuntu';
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: lighter;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* #title {

text-align: left;

} */

#title .container-fluid{
  padding: 3% 15% 7%;
  text-align: left;
}

/* Sections */

.colored-section{
  background-color: #ff4c68;
  color: #ffff;
}

.white-section{
    background-color: white;
}


/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;

}

@media (max-width: 1000px) {

  #title {
    /* text-align: center; */
  }

  .title-image{
    position: static;
    transform: rotate(0);
  }
}

/* Icons */
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}



/* Features */
#features {
  /* padding: 7% 15% ; */

position: relative;
}

.feature-title {
  font-size: 1.5rem;
}



.feature-box {
  /* text-align: center; */
  padding: 5%;

}

/* Testimonials section */
#testimonials {

  /* text-align: center; */
  background-color: #ef8172;

}

.testimonial-text {
font-size: 3rem;
line-height: 1.5;

  color: #ffffff;
}

.testimonial-image {
  width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* .carousel-item {
    padding: 7% 15%;

} */



#press{
  background-color: #ef8172;
  /* text-align: center; */
  padding-bottom: 3%;
}

.press-logo {
  width: 12%;
  margin: 20px 20px 50px;
}


/* Pricing section */

#pricing {
  padding: 100px;
  /* text-align: center; */
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column{
  padding: 3% 2%;
}

/* CTA Section */

#cta {
  background-color: #ff4c68;

  /* padding: 7% 15%; */
  /* text-align: center; */

}

.cta-heading {
  font-family: "Montserrat";
  font-weight: bolder;text-align: center;
  font-size: 3.5rem;
  line-height: 1.5;
width: 90%;
  color: #ffff;

}

/* Footer Section */

/* #footer{
  padding: 7% 15%;
   text-align: center;
} */

.social-icon {

margin: 20px 10px;

}
